.username-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.username-text img{
    height: 100px;
    margin: 15px;
}
.input-container input[type="file"]{
    border: 0;
}
#reply,
#comments{
    display: none;
}
@media (max-width: 768px) {
    .username-text img{
        margin: 10px 0 20px 20px;
    }
    
}