.link a:hover{
    cursor: pointer;
}
.text {
    width: 800px;
    margin: auto;
    text-align: center;
}
.comment{
    margin: auto;
    width: 80%;
    border: 2px solid black;
}




@media (max-width: 768px) {
    .text{
        width: 80%;
    }
}