.link a:hover{
    cursor: pointer;
}
.text {
    width: 800px;
    margin: auto;
    text-align: center;
}

.comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.input-box{
    width: 75%;
}
.input-box textarea{
    resize: none;
    width: 100%;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    border-color: #bfbfbf;
    margin-top: 10px;
    max-height: 80px;
}
.input-box textarea:is(:focus, :valid){
    border-color: var(--primary-color);
    padding: 8px;
}
.input-box textarea::-webkit-scrollbar{
    width: 0;
}
.comment,
.reply{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin: 20px;
    width: 75%;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    background-color: #f1faee;
    padding: 10px;
}
.buttons{
    display: flex;
    justify-content: right;
    gap: 13px;
    padding: 10px;
}
.btn-cancel,
.btn-comment,
.btn-reply{
    background-color: var(--secondary-color);
    color: #fff;
    padding: 7px;
    border: 1px solid #fff;
    border-radius: 5px;
}
.btn-cancel:hover,
.btn-comment:hover{
    cursor: pointer;
}
.reply{
    width: 60%;
    margin-right: 0;
}
.btn-reply{
    background-color: #c0f9ae;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}
.btn-reply:hover{
    cursor: pointer;
}

/* Rating */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  place-items: center;
  background: #6665ee;
} */
::selection{
  color: #fff;
  background: #6665ee;
}

.skill-bars{
  padding: 25px 30px;
  width: 60%;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: var(--primary-color);
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}

.progress-line.five span::after{
  content: var(--five-content);
}
.progress-line.four span::after{
  content: var(--four-content);
}
.progress-line.three span::after{
  content: var(--three-content);
}
.progress-line.two span::after{
  content: var(--two-content);
}
.progress-line.one span::after{
  content: var(--one-content);
}


/* Stars */
.rating {
display: flex;
padding: 0;
margin: 0;
}
    
.rating li {
list-style-type: none
}

.rating-item {
border: 1px solid #fff;
cursor: pointer;
font-size:2em;
color: rgb(35, 35, 6);
}

/* initial: make all stars full */
.rating-item::before {
content: "\2605";
}

/* make until the clicked star (the rest) empty */
.rating-item.active ~ .rating-item::before {
content: "\2606";
}

/* on hover make all full */
.rating:hover .rating-item::before {
content: "\2605";
}

/* make until the hovered (the rest) empty */
.rating-item:hover ~ .rating-item::before {
content: "\2606";
}

.ratings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-ranking {
    margin: 20px;
}
.comments{
    margin-top: 30px;
}
.rating {
    margin: 10px;
}
.user-ranking{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.all_rankings{
    width: 100%;
    display: flex;
    justify-content: center;
}

    
@media (max-width: 768px) {
    .text{
        width: 80%;
    }
}